.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
  opacity: 1;
}

.feinman__link:hover {
  text-decoration: underline;
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.5;
}
